.tabsOuter{
  /* width: 1120px; */
  width: 65%;
  margin: auto;
}
.tabsOuter ul{
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;
}
.tabsOuter ul li button{
  background: #e4e4e4;
  color: #343a40;
  padding: 0.5rem 20px;
  margin-right: 18px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  border-radius: 10px;
}
.activeBtn{
  background-color: red !important;
  color: white !important;
}