/* ................Password Generator App CSS................... */

.passwordOuter{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  background-color: #212121;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.passwordBox{
  width: 350px;
  background-color: rgb(208, 15, 54);
  border-radius: 10px;
  box-shadow: 0 0 10px 2px #ccc;
  padding: 10px 0;
}
.passwordBox h2{
  text-align: center;
}
.passwordBoxin{
  display: flex;
  justify-content: center;
  padding: 5px;
}
.passwordBoxin input{
  flex-basis: 80%;
  padding-left: 5px;
}
.passwordBoxin button{
  flex-basis: 20%;
  padding: 10px 0;
  font-size: 15px;
  cursor: pointer;
}
.passLength{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px;
}
.passLength input{
  width: 60px;
  padding: 8px 0;
}
.passLength label{
  font-size: 19px;
}
.btnDiv{
  display: flex;
  justify-content: center;
}
.btn{
  padding: 10px;
  align-self: center;
  width: 97%;
  font-size: 15px;
  cursor: pointer;
}